.root {
  position: relative;
  width: 1600px;
  height: 906px;
  align-items: flex-start;
  background-color: #4b5d70;
  overflow: hidden;
}
.rectangle13 {
  position: absolute;
  left: 0;
  top: 91px;
  width: 988px;
  height: 815px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle13.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1600px;
  height: 91px;
  background-color: #0f1925;
}
.frame1 {
  position: absolute;
  left: 610px;
  top: 32px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 40px;
}
.home {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.about {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.contactUs {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.packages {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle9 {
  position: absolute;
  left: 196.08px;
  top: 20.13px;
  width: 63.36px;
  height: 49.665px;
  background-color: #fff;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 7.9200439453125px 3.8700215816497803px;
  mask-position: 7.9200439453125px 3.8700215816497803px;
  -webkit-mask-size: 49.5px 43px;
  mask-size: 49.5px 43px;
}
.signUp {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1337px;
  top: 32px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.login {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1253px;
  top: 32px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.partners {
  position: absolute;
  left: 1112px;
  top: 793px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 40px;
}
.image1 {
  width: 156px;
  height: 23px;
  background-image:/* webpackIgnore: true */ url('/assets/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image2 {
  width: 88px;
  height: 42px;
  background-image:/* webpackIgnore: true */ url('/assets/image2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle1 {
  position: absolute;
  left: 1020px;
  top: 369px;
  width: 376px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.email {
  opacity: 0.5;
  color: #4b5d70;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1036px;
  top: 385px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle5 {
  position: absolute;
  left: 1020px;
  top: 449px;
  width: 376px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.password {
  opacity: 0.5;
  color: #4b5d70;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1036px;
  top: 465px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame30 {
  position: absolute;
  left: 1020px;
  top: 529px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 16px;
}
.checkBox {
  width: 30px;
  height: 27px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.rememberMe {
  color: #dbe3ec;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.forgotPassword {
  opacity: 0.5;
  color: #dbe3ec;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1254px;
  top: 600px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.lOGIN {
  background-image: linear-gradient(109.8deg, #d95e26ff 0%, #ff9416ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 42px;
  line-height: 150%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1020px;
  top: 258px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.button {
  position: absolute;
  left: 1020px;
  top: 588px;
  width: min-content;
  height: min-content;
  padding: 12px 32px;
  border-radius: 8px;
  background-image: linear-gradient(112.3deg, #d95e26ff 0%, #ff9416ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.login2 {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
