.root {
  position: relative;
  width: 1600px;
  height: 1140px;
  align-items: flex-start;
  background-color: #4b5d70;
  overflow: hidden;
}
.rectangle4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1600px;
  height: 91px;
  background-color: #0f1925;
}
.frame1 {
  position: absolute;
  left: 610px;
  top: 32px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 40px;
}
.home {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.about {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.contactUs {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.packages {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle9 {
  position: absolute;
  left: 196.08px;
  top: 20.13px;
  width: 63.36px;
  height: 49.665px;
  background-color: #fff;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 7.9200439453125px 3.8700215816497803px;
  mask-position: 7.9200439453125px 3.8700215816497803px;
  -webkit-mask-size: 49.5px 43px;
  mask-size: 49.5px 43px;
}
.signUp {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1337px;
  top: 32px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.login {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1253px;
  top: 32px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.footer {
  position: absolute;
  left: 0;
  top: 956px;
  width: 1600px;
  height: 184px;
  align-items: flex-start;
  background-color: #0f0f0f;
  overflow: hidden;
}
.rectangle92 {
  position: absolute;
  left: 196.5px;
  top: 36.25px;
  width: 59.375px;
  height: 47.5px;
  background-color: #fff;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup2.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup2.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 7.5px 3.75px;
  mask-position: 7.5px 3.75px;
  -webkit-mask-size: 45px 40px;
  mask-size: 45px 40px;
}
.openEyes {
  color: #fff;
  font-size: 29.3333px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 257px;
  top: 40px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle10 {
  position: absolute;
  left: 1097.205px;
  top: 8.6958px;
  width: 326.5898px;
  height: 104.3478px;
  background-color: #d9d9d9;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup3.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup3.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 27.794960021972656px 31.30419921875px;
  mask-position: 27.794960021972656px 31.30419921875px;
  -webkit-mask-size: 271px 40px;
  mask-size: 271px 40px;
}
.frame25 {
  position: absolute;
  left: 1148px;
  top: 112px;
  width: 248px;
  height: 32px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.appertaFoundation {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 620px;
  top: 40px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.toukanLabsContact {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 821px;
  top: 40px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.copyright2023OpenEyesAllRightA {
  position: absolute;
  left: 204px;
  top: 120px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 16px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff6;
  font-size: 16px;
  line-height: 150%;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #fff6;
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #fff6;
  font-size: 16px;
  line-height: 150%;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle12 {
  position: absolute;
  left: 0;
  top: 91px;
  width: 816px;
  height: 865px;
  background-color: #152435;
}
.weReHereToHelpIfYouHaveAnyQues {
  color: #dbe3ec;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 204px;
  top: 492px;
  width: 495px;
  height: min-content;
  flex-direction: column;
}
.contactUs2 {
  color: #fff;
  font-size: 48px;
  line-height: 150%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 204px;
  top: 380px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame252 {
  position: absolute;
  left: 204px;
  top: 652px;
  width: 248px;
  height: 32px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.getInTouch {
  color: #fff;
  font-size: 32px;
  line-height: 140%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 918px;
  top: 204px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle1 {
  position: absolute;
  left: 918px;
  top: 328px;
  width: 478px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.robertFox {
  opacity: 0.5;
  color: #4b5d70;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 938px;
  top: 344px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle13 {
  position: absolute;
  left: 918px;
  top: 447px;
  width: 478px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.yournameEmailCom {
  opacity: 0.5;
  color: #4b5d70;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 938px;
  top: 463px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle14 {
  position: absolute;
  left: 918px;
  top: 566px;
  width: 478px;
  height: 175px;
  border-radius: 8px;
  background-color: #fff;
}
.yournameEmailCom2 {
  opacity: 0.5;
  color: #4b5d70;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 938px;
  top: 582px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.button {
  position: absolute;
  left: 918px;
  top: 781px;
  width: 478px;
  height: min-content;
  place-content: center;
  padding: 12px 32px;
  border-radius: 8px;
  background-image: linear-gradient(95.3deg, #d95e26ff 0%, #ff9416ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.send {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fullName {
  color: #dbe3ec;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 918px;
  top: 289px;
  width: 99.7819px;
  height: min-content;
  flex-direction: column;
}
.email {
  color: #dbe3ec;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 918px;
  top: 408px;
  width: 56.2872px;
  height: min-content;
  flex-direction: column;
}
.yourMessage {
  color: #dbe3ec;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 918px;
  top: 527px;
  width: 143.2766px;
  height: min-content;
  flex-direction: column;
}
