.root {
  position: relative;
  width: 1600px;
  height: 2512px;
  align-items: flex-start;
  background-color: #2c3844;
  overflow: hidden;
}
.rectangle11 {
  position: absolute;
  left: 204px;
  top: 964px;
  width: 1192px;
  height: 288px;
  border-radius: 8px 100px;
  background-color: #0f1925;
}
.benefits {
  position: absolute;
  left: 338px;
  top: 1004px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 60px;
  background-color: #0f1925;
}
.freeShipping {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.carbonGuiManagement {
  width: 32px;
  height: 32px;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame21 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-start;
  gap: 16px;
}
.enhancedPracticeManagement {
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 274px;
  height: min-content;
  flex-direction: column;
}
.simplifyPracticeManagementAndS {
  color: #a8abae;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 274px;
  height: min-content;
  flex-direction: column;
}
.support247 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.carbonAnalyticsCustom {
  width: 32px;
  height: 32px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.frame22 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.customizableSolutions {
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 260px;
  height: min-content;
  flex-direction: column;
}
.tailorOpenEyesPrivatePracticeT {
  color: #a8abae;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 228px;
  height: min-content;
  flex-direction: column;
}
._30DaysReturn {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.popular_calendarBS {
  width: 32px;
  height: 32px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.frame23 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.streamlinedPatientPathways {
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 271px;
  height: min-content;
  flex-direction: column;
}
.easilyTrackPatientProgressFrom {
  color: #a8abae;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 271px;
  height: min-content;
  flex-direction: column;
}
.rectangle6 {
  position: absolute;
  left: 204px;
  top: 1376px;
  width: 580px;
  height: 353px;
  border-radius: 8px;
  background-color: #d9d9d9;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutOpenEyesPrivatePractice {
  position: absolute;
  left: 818px;
  top: 1376px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 32px;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff;
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  background-image: linear-gradient(95.6deg, #d95e26ff 0%, #ff9416ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #fff;
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #fff;
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.openEyesPrivatePracticeIsThePo {
  color: #a8abae;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 818px;
  top: 1467px;
  width: 529px;
  height: min-content;
  flex-direction: column;
}
.button {
  position: absolute;
  left: 818px;
  top: 1678px;
  width: min-content;
  height: min-content;
  padding: 12px 32px;
  border-radius: 8px;
  background-image: linear-gradient(107.7deg, #d95e26ff 0%, #ff9416ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.seeMore {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle7 {
  position: absolute;
  left: 816px;
  top: 1888px;
  width: 580px;
  height: 316px;
  border-radius: 8px 50px;
  background-color: #0f1925;
}
.whatCliniciansAreSaying {
  position: absolute;
  left: 204px;
  top: 1853px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 32px;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label5 {
  color: #fff;
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label6 {
  background-image: linear-gradient(102.4deg, #d95e26ff 0%, #ff9416ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label7 {
  color: #fff;
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.openEyesPrivatePracticeIsThePo2 {
  color: #a8abae;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 204px;
  top: 1944px;
  width: 529px;
  height: min-content;
  flex-direction: column;
}
.footer {
  position: absolute;
  left: 0;
  top: 2328px;
  width: 1600px;
  height: 184px;
  align-items: flex-start;
  background-color: #0f0f0f;
  overflow: hidden;
}
.rectangle9 {
  position: absolute;
  left: 196.5px;
  top: 36.25px;
  width: 59.375px;
  height: 47.5px;
  background-color: #fff;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 7.5px 3.75px;
  mask-position: 7.5px 3.75px;
  -webkit-mask-size: 45px 40px;
  mask-size: 45px 40px;
}
.openEyes {
  color: #fff;
  font-size: 29.3333px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 257px;
  top: 40px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle10 {
  position: absolute;
  left: 1097.205px;
  top: 8.6958px;
  width: 326.5898px;
  height: 104.3478px;
  background-color: #d9d9d9;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup2.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup2.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 27.794960021972656px 31.30419921875px;
  mask-position: 27.794960021972656px 31.30419921875px;
  -webkit-mask-size: 271px 40px;
  mask-size: 271px 40px;
}
.frame25 {
  position: absolute;
  left: 1148px;
  top: 112px;
  width: 248px;
  height: 32px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}

.toukanLabsContact {
  margin-left: -150px;
  display: flex;
  place-items: center;
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 821px;
  top: 40px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.copyright2023OpenEyesAllRightA {
  position: absolute;
  left: 204px;
  top: 120px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper3 {
  font-size: 16px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label8 {
  color: #fff6;
  font-size: 16px;
  line-height: 150%;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label9 {
  color: #fff6;
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label10 {
  color: #fff6;
  font-size: 16px;
  line-height: 150%;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heroV2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1600px;
  height: 900px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.rectangle2 {
  transform-origin: top left;
  position: absolute;
  left: 1600px;
  top: 0;
  width: 1600px;
  height: 900px;
  background-image: linear-gradient(89.6deg, #18181880 0%, #0e0e0e66 85%, #0000 89%),
    /* webpackIgnore: true */ url('/assets/rectangle2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, cover;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.openEyes2 {
  position: absolute;
  left: 844px;
  top: 240px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper4 {
  font-size: 108px;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label11 {
  color: #fff;
  font-size: 108px;
  line-height: 130%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label12 {
  background-image: linear-gradient(109.9deg, #d95e26ff 0%, #ff9416ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 108px;
  line-height: 130%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.privatePractice {
  color: #bebebe;
  font-size: 32px;
  line-height: 130%;
  font-weight: bold;
  font-family: Georgia, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.015em;
  position: absolute;
  left: 1142px;
  top: 365px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.openEyesPrivatePracticeIsThePo3 {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 150%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 844px;
  top: 455px;
  width: 495px;
  height: min-content;
  flex-direction: column;
}
.buton {
  position: absolute;
  left: 844px;
  top: 615px;
  width: min-content;
  height: min-content;
  padding: 12px 32px;
  border-radius: 8px;
  background-image: linear-gradient(103.8deg, #d95e26ff 0%, #ff9416ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.purchaseNow {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.partners {
  position: absolute;
  left: 1112px;
  top: 756px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 40px;
}
.image1 {
  width: 156px;
  height: 23px;
  background-image:/* webpackIgnore: true */ url('/assets/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image2 {
  width: 88px;
  height: 42px;
  background-image:/* webpackIgnore: true */ url('/assets/image2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1600px;
  height: 91px;
  background-color: #0f1925;
}
.frame1 {
  margin-left: -75px;
  padding-right: 30%;
  position: absolute;
  left: 610px;
  top: 32px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 40px;
}
.home {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.about {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.contactUs {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.packages {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle92 {
  position: absolute;
  left: 196.08px;
  top: 20.13px;
  width: 63.36px;
  height: 49.665px;
  background-color: #fff;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup3.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup3.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 7.9200439453125px 3.8700215816497803px;
  mask-position: 7.9200439453125px 3.8700215816497803px;
  -webkit-mask-size: 49.5px 43px;
  mask-size: 49.5px 43px;
}
.signUp {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1305px;
  top: 32px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.login {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  font-weight: bold;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1221px;
  top: 32px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.image5 {
  position: absolute;
  left: 897px;
  top: 1853px;
  width: 355px;
  height: 351px;
  background-image:/* webpackIgnore: true */ url('/assets/image5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
